<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Accesso</servlet-name>
        <servlet-class>it.disi.giarre.game.Accesso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartGame</servlet-name>
        <servlet-class>it.disi.giarre.game.StartGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetValue</servlet-name>
        <servlet-class>it.disi.giarre.game.GetValue</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ResetGame</servlet-name>
        <servlet-class>it.disi.giarre.game.ResetGame</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Accesso</servlet-name>
        <url-pattern>/Accesso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartGame</servlet-name>
        <url-pattern>/StartGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetValue</servlet-name>
        <url-pattern>/GetValue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetGame</servlet-name>
        <url-pattern>/ResetGame</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
